// base color
$blue:#007aff;
$light-blue:#007aff;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// 主题
$theme:#007aff;

// sidebar
$menuText:#303133;
$menuActiveText:$theme;
$subMenuActiveText:$theme;

//激活的菜单
$base-menu-text-active:$theme;;
$base-menu-active-background: #e8f4ff;

$menuBg:#FFF;
$subMenuBg:#F8F8F8;

$menuHover:#EAF2FF;
$subMenuHover:#EAF2FF;


$sideBarWidth: 230px;

//  导航标签
$tagsActiveText: $theme;
$tagsActiveBg: #e8f4ff;
$tagsActiveHoverBg: #DCDFE6;

$scrollbarwidth: 2px; // 菜单滚动条宽度、内容区块滚动条宽度

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
